#
#
#                                                       I8                ,dPYb,
#                                                       I8                IP'`Yb
#                                                    88888888             I8  8I
#                                                       I8                I8  8'
#       ,gggg,   ,gggggg,    ,ggggg,     ,ggg,,ggg,     I8      ,gggg,gg  I8 dP
#      dP"  "Yb  dP""""8I   dP"  "Y8ggg ,8" "8P" "8,    I8     dP"  "Y8I  I8dP   88gg
#     i8'       ,8'    8I  i8'    ,8I   I8   8I   8I   ,I8,   i8'    ,8I  I8P    8I
#    ,d8,_    _,dP     Y8,,d8,   ,d8'  ,dP   8I   Yb, ,d88b, ,d8,   ,d8b,,d8b,  ,8I
#    P""Y8888PP8P      `Y8P"Y8888P"    8P'   8I   `Y888P""Y88P"Y8888P"`Y88P'"Y88P"'
#
#
PATH=/home/admin/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
# m h  dom mon dow   command
# nodes to zone
*/5 * * * * /usr/bin/python3 $HOME/clones/alfred2zone/light/nodes_to_zone.py > $HOME/.cronlog/zone_from_alfred.log 2>&1
# backend scripts
*/5 * * * * $HOME/clones/backend-scripts/check_bind_gw.py > $HOME/.cronlog/check_bind.log
*/5 * * * * $HOME/clones/backend-scripts/draw_traffic_all.py > $HOME/.cronlog/draw_traffic.log
23 * * * * $HOME/clones/backend-scripts/gen_website_all.py > $HOME/.cronlog/gen_website.log
#23 19 * * * $HOME/clones/backend-scripts/nagg_exitvpn_accouts_all.py > $HOME/.cronlog/nagg_exitvpn_accouts.log
42 5,23 * * * $HOME/clones/backend-scripts/snapshot_configs_all.py > $HOME/.cronlog/snapshot_configs.log
0 5 * * 0,1,5 $HOME/clones/backend-scripts/gen_icvpn_dns_gw.sh > $HOME/.cronlog/gen_icvpn_dns_gw.log 2>&1
#42 17 * * 2 /usr/local/bin/photon-dangerous-selfupgrade.py --sudo --repos $HOME/clones/backend-scripts
# openwrt mirror (old releases ; no need to sync them)
#19 1 1 * * /usr/local/bin/lftp -f $HOME/clones/backend-scripts/common/lftp_commands > $HOME/.cronlog/mirror_openwrt_repo.log 2>&1
# lede/openwrt mirror
0 2 * * * $HOME/clones/backend-scripts/mirror_openwrt_repo.sh > $HOME/.cronlog/mirror_openwrt_repo.log 2>&1