# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
PATH=/home/admin/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
# m h  dom mon dow   command
# backend scripts
*/5 * * * * /usr/bin/python3 $HOME/clones/backend-scripts/draw_traffic_all.py > $HOME/.cronlog/draw_traffic.log
23 * * * * /usr/bin/python3 $HOME/clones/backend-scripts/gen_website_all.py > $HOME/.cronlog/gen_website.log
23 5,23 * * * /usr/bin/python3 $HOME/clones/backend-scripts/snapshot_configs_all.py > $HOME/.cronlog/snapshot_configs.log
#42 19 * * 2 /usr/local/bin/photon-dangerous-selfupgrade.py --sudo --repos $HOME/clones/backend-scripts
# ffapi
23 * * * * $HOME/clones/ffflash/run_mwu.sh > $HOME/.cronlog/ffflash_run_mwu.log 2>&1
32 */7 * * * $HOME/clones/backend-scripts/sync_ffapi_srv.py > $HOME/.cronlog/sync_ffapi.log
# rtfm
42 23 * * * $HOME/clones/backend-scripts/gen_documentation_srv.py > $HOME/.cronlog/gen_documentation.log
# expansion map
#23 4 * * * $HOME/clones/backend-scripts/gen_expansion_map_srv.py > $HOME/.cronlog/gen_expansion_map.log
# knotenalarm at twitter
37 * * * * cd ~/clones/mz-knotenalarm && ~/clones/mz-knotenalarm/knotenalarm >> ~/.cronlog/mz-knotenalarm.log.cron 2>&1
56 * * * * cd ~/clones/wi-knotenalarm && ~/clones/wi-knotenalarm/knotenalarm >> ~/.cronlog/wi-knotenalarm.log.cron 2>&1
# delete pending members
28 2 * * * find /var/www/freifunk-mainz.de/mitglieder/pending_members -mindepth 1 -mtime +2 -exec rm {} \;
# pull mz homepage
33 * * * * $HOME/bin/pull_homepage.sh >> $HOME/tmp/log/homepage_pull.log.cron 2>&1
# full mwu homepage
35 * * * * $HOME/bin/pull_homepage_mwu.sh >> $HOME/tmp/log/homepage_pull_mwu.log.cron 2>&1
# rebuild ffwi-website
15 1 * * * sudo service ffwi-website restart >> ~/.cronlog/rebuild_website.cron.og 2>&1